@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Identity
@using TicmansoV2.Pages
@using MudBlazor
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using System.Text;
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager
@using TicmansoV2.Authentication
@using TicmansoV2.Shared.Contracts


<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<AuthorizeView Roles="Admin">
    <Authorized >
        <div class="page">
            <MudLayout class="p-0">
                    <MudAppBar Elevation="1">
                        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
                        <MudSpacer />
                        <MudIconButton Icon="@Icons.Material.Filled.InsertComment" Color="Color.Inherit" Href="/management/tickets/newTicket" />
                    <MudIconButton ml-2 Icon="@Icons.Material.Filled.Home" Color="Color.Inherit" Href="/dashboard" />
                    </MudAppBar>
                    <MudDrawer @bind-Open="@open" Elevation="1">
                        <MudDrawerHeader>
                            <MudText Typo="Typo.h6">Ticmanso</MudText>
                        </MudDrawerHeader>
                        <MudNavMenu>
                            <MudNavLink Href="/teams-chat">Chats</MudNavLink>
                            <MudNavGroup Title="Fichaje" Expanded="true">
                                <MudNavLink Href="/attendance">Mi jornadas</MudNavLink>
                                <MudNavLink Href="/control/attendance">Consultar jornadas</MudNavLink>
                            </MudNavGroup>
                            <MudNavLink Href="/tickets">Tickets</MudNavLink>
                            <MudNavLink Href="/dashboard">Panel de control</MudNavLink>
                            <MudNavGroup Title="Configuración" Expanded="true">
                                <MudNavLink Href="/management/controlUser">Usuarios</MudNavLink>
                                <MudNavLink Href="/management/statuses">Estados</MudNavLink>
                                <MudNavLink Href="/management/priorities">Prioridades</MudNavLink>
                                <MudNavLink Href="/management/companies">Compañias</MudNavLink>
                            </MudNavGroup>
                            <MudNavLink Href="/settings">Ajustes</MudNavLink>
                            <MudNavLink OnClick="Logout">LogOut</MudNavLink>
                        </MudNavMenu>
                    </MudDrawer>
                    <MudMainContent Class="d-flex">
                        <MudContainer Class="mud-container-maxwidth-xl mud-container mt-2">
                           @Body
                        </MudContainer> 
                    </MudMainContent>
            </MudLayout>
        </div>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="User">
    <Authorized>
        <div class="page">
            <MudLayout class="p-0">
                <MudAppBar Elevation="1">
                    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
                    <MudSpacer />
                    <MudIconButton Icon="@Icons.Material.Filled.InsertComment" Color="Color.Inherit" Href="/management/tickets/newTicket" />
                    <MudIconButton ml-2 Icon="@Icons.Material.Filled.Home" Color="Color.Inherit" Href="/dashboard" />
                </MudAppBar>
                <MudDrawer @bind-Open="@open" Elevation="1">
                    <MudDrawerHeader>
                        <MudText Typo="Typo.h6">Ticmanso</MudText>
                    </MudDrawerHeader>
                    <MudNavMenu>
                        <MudNavLink Href="/teams-chat">Chats</MudNavLink>
                        <MudNavLink Href="/attendance">Fichaje</MudNavLink>
                        <MudNavLink Href="/tickets">Tickets</MudNavLink>
                        <MudNavLink Href="/dashboard">Panel de control</MudNavLink>                       
                        <MudNavLink Href="/Settings">Ajustes</MudNavLink>
                        <MudNavLink OnClick="Logout">LogOut</MudNavLink>
                    </MudNavMenu>
                </MudDrawer>
                <MudMainContent Class="d-flex">
                    <MudContainer Class="mud-container-maxwidth-xl mud-container mt-2">
                        @Body
                    </MudContainer>
                </MudMainContent>
            </MudLayout>
        </div>
    </Authorized>
</AuthorizeView>
@code
{    bool open = false;

    void ToggleDrawer()
    {
        open = !open;
    }
    void Login()
    {
        NavManager.NavigateTo("/");
    }

    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null!);
        NavManager.NavigateTo("/");
    }
}
