
@using TicmansoCrud.Shared
@using TicmansoWebAPI.Models
@using TicmansoWebAPI

@inject HttpClient httpClient

@page "/ticket/{ticketId:long}"
<PageTitle>Ticket</PageTitle>
@if (ticket != null)
{
<MudGrid>
    <MudItem xs="9" > 
        <MudCard Style="background-color: #f5f5f5;" xs="9">
            <MudCardHeader Style="background-color: #e0e0e0;">
                <CardHeaderContent>
                    <MudText Typo="Typo.h6" Style="color: #333;">Ticket @ticket.Id</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText><b>Descripción:</b>
                    @ticket.Description
                </MudText>
                
                <MudText><b>Asignado a:</b> Juan Pérez</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Responder</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
     <MudItem xs="3">
        <MudCard>
            <MudCardHeader Style="background-color: #e0e0e0;">
                <CardHeaderContent>
                        <MudText Typo="Typo.h6" Style="color: #333;">Informacion</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                    <MudText><b>PROPIEDADES</b></MudText>
                    <MudText><b>Tipo</b>
                        <MudSelect T="string" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">
                            <MudSelectItem Value="@("Cappuccino")" />
                            <MudSelectItem Value="@("Cafe Latte")" />
                            <MudSelectItem Value="@("Espresso")" />
                        </MudSelect>
                    </MudText>
                    <MudText><b>Estado</b>
                        <MudSelect T="string" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter" @bind-Value="selectedStatus">
                            @foreach (var status in Statuses)
                            {
                                <MudSelectItem Value="@status.Name" />
                            }
                        </MudSelect>
                    </MudText>
                    <MudText><b>Prioridad</b>
                        <MudSelect T="string" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter" @bind-Value="selectedPriority">
                            @foreach (var priority in Priorities)
                            {
                                <MudSelectItem Value="@priority.Name" />
                            }
                        </MudSelect>
                    </MudText>
                    <MudText><b>Agente</b>
                        <MudSelect T="string" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">
                            <MudSelectItem Value="@("Cappuccino")" />
                            <MudSelectItem Value="@("Cafe Latte")" />
                            <MudSelectItem Value="@("Espresso")" />
                        </MudSelect>
                    </MudText>
            </MudCardContent>
            <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Actualizar</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>
}
else
{
    <p>Loading ticket details...</p>
}

@code {
    [Parameter]
    public long ticketId { get; set; }
    private string selectedPriority;
    private string selectedStatus;
    private TicketDTO ticket = new TicketDTO();

    private List<PriorityDTO> Priorities { get; set; } = new List<PriorityDTO>();
    private List<StatusDTO> Statuses { get; set; } = new List<StatusDTO>();

    protected override async Task OnInitializedAsync()
    {
        Statuses = await httpClient.GetFromJsonAsync<List<StatusDTO>>("https://localhost:7144/api/Ticmanso/status");

        Priorities = await httpClient.GetFromJsonAsync<List<PriorityDTO>>("https://localhost:7144/api/Ticmanso/priority");

        ticket = await httpClient.GetFromJsonAsync<TicketDTO>($"https://localhost:7144/api/Ticmanso/ticket/{ticketId}");
        
        if (ticket != null)
    {
        var priority = await httpClient.GetFromJsonAsync<PriorityDTO>($"https://localhost:7144/api/Ticmanso/priority/{ticket.PriorityId}");
        var status = await httpClient.GetFromJsonAsync<StatusDTO>($"https://localhost:7144/api/Ticmanso/status/{ticket.StatusId}");

        if (priority != null && status != null)
        {
            selectedPriority = priority.Name;
            selectedStatus = status.Name;
        }
    }
    }

}