<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="content" style="position: absolute;left: 50%;transform: translate(-50%, 10%);">              
                <h1>Parece que te has perdido</h1>

                <p  class="pt-5"> La página que estas buscando no existe.</p>

                <img src="images/error404.png" />
                <p>
                   <a href="/">Volver a la página principal.</a>
                </p>
            </div>
        </LayoutView>
    </NotFound>
</Router>
